* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Nunito', Arial, sans-serif;
  font-style: normal;
  border: 1px solid green;
}

.page__content {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  border: 1px solid blue;
}

.page__header {
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border: 1px solid red;
}

.page__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__list-item {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 16px;
  color: rgba(0, 127, 255, 1);
}

.menu__list-item {
  margin-top: 18px;
  margin-right: 35px;
  margin-bottom: 18px;
  margin-left: 35px;
}

.menu__list-item_works {
  margin-left: 0px;
}

.menu__list-item_about {

}

.menu__list-item_avatar {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  height: 52px;
  width: 52px;
}

.menu__list-item_links {

}

.menu__list-item_contacts {
  margin-right: 0;
}

.image__header-avatar {
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.anchor-link {
  color: rgba(0, 127, 255, 1);
  text-decoration: none;
}

.anchor-link:visited {
  color: rgba(0, 127, 255, 1);
}

.page__title {
  width: 550px;
  margin-top: 17px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  line-height: 60px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  order: 2;
  border: 1px solid brown;
}

.blue-text {
  color: rgba(0, 127, 255, 1);
}

.page__social {
  width: 114px;
  margin-top: 36px;
  margin-right: auto;
  margin-bottom: 36px;
  margin-left: auto;
}

.social__list-item {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.social-logo {
  height: 16px;
}

.social__list-item_twitter {
  margin-left: 0;
}

.social__list-item_behance {

}

.social__list-item_instagram {
  margin-right: 0;
}

.page__main {
  order: 3;
  border: 1px solid violet;
}