.page {
	font-family: 'Nunito', Arial, sans-serif;
	font-style: normal;
	margin: 0;
}

.page__content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 10px;
	width: 1100px;
}

.page__header {
	margin: 100px auto;
	width: 100%;
}

.page__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.page__list-item {
	color: #007FFF;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 3px;
	line-height: 16px;
	text-transform: uppercase;
}

.menu__list-item {
	margin: 18px 35px;
}

.menu__list-item_works {
	margin-left: 0;
}

.menu__list-item_avatar {
	height: 52px;
	margin: 0 279px 0 298px;
	width: 52px;
}

.menu__list-item_contacts {
	margin-right: 0;
}

.image__header-avatar {
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.anchor-link {
	color: #007FFF;
	text-decoration: none;
}

.anchor-link:visited {
	color: #007FFF;
}

.main__title_text {
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	margin: 20px auto;
	text-align: center;
	width: 550px;
}

.blue-text {
	color: #007FFF;
}

.main__social {
	margin: 49px auto;
	width: 114px;
}

.social__list-item {
	margin: 0 auto;
}

.social-logo {
	height: 16px;
}

.social__list-item_twitter {
	margin-left: 0;
}

.social__list-item_instagram {
	margin-right: 0;
}

.page__main {
	margin: 0 auto;
	width: 100%;
}

.main__section-title {
	display: none;
}

.main__works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 117px 0 84px 0;
}

.works__item {
	margin: 0;
	position: relative;
}

.works__item_top-left {
	background-image: url("../images/photo_top-left.png");
	height: 505px;
	margin-bottom: 60px;
	width: 520px;
}

.works__item_bottom-left {
	background-image: url("../images/photo_bottom-left.png");
	height: 667px;
	width: 520px;
}

.works__item_top-right {
	background-image: url("../images/photo_top-right.png");
	height: 737px;
	margin-bottom: 60px;
	width: 520px;
}

.works__item_bottom-right {
	background-image: url("../images/photo_bottom-right.png");
	height: 435px;
	width: 520px;
}

.works__featured-badge {
	background-color: #FFE300;
	border-radius: 13.5px;
	bottom: 152px;
	font-size: 12px;
	font-weight: 800;
	height: 23px;
	left: 60px;
	line-height: 16px;
	position: absolute;
	width: 80px;
}

.works__featured-badge_text {
	display: block;
	margin: 3px 15px 4px 15px;
}

.works__item_text {
	bottom: 61px;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 700;
	left: 60px;
	line-height: 36px;
	margin: 0;
	position: absolute;
	width: 317px;
}